main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'today tomorrow';
}

#todaysgames h2,
#tomorrowsgames h2 {
    font-size: 200%;
    color: white;
    margin: 1em 0;
}

.gameheading {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.gameheading h3 {
    font-size: 150%;
}

.gameheading img {
    max-width: 50px;
    aspect-ratio: 1;
    object-fit: contain;
}

#todaysgames article,
#tomorrowsgames article {
    background-color: white;
    width: 500px;
    margin-bottom: 1em;
    border-radius: 25px;
    padding: 8px 0;
}

#todaysgames {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-area: today;
}

#tomorrowsgames {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-area: tomorrow;
}

.container {
    color: white;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    margin-top: 2em;
    width: 50%;
    border: 10px ridge gray;
}

#headline {
    padding-top: 15px;
    font-size: 250%;
}

/* countdown source: https://codepen.io/AllThingsSmitty/pen/JJavZN */

#countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

#countdown li span {
    display: block;
    font-size: 4.5rem;
}

@media only screen and (max-width: 767px) {
    .container {
        width: 90%;
        border: 5px ridge gray;
    }

    #headline {
        font-size: 130%;
        padding: 15px 5px 0;
    }

    #countdown li {
        font-size: .75em;
    }

    #countdown li span {
        font-size: 3rem;
    }

    main {
        display: block;
    }

    #todaysgames article,
    #tomorrowsgames article {
        width: 95%;
    }

    .gameheading img {
        max-width: 30px;
    }

    .gameheading h3 {
        font-size: 125%;
    }

    #todaysgames h2,
    #tomorrowsgames h2 {
        font-size: 140%;
    }

}