#pageheader {
    color: white;
    text-align: center;
    text-decoration: underline;
    margin-top: 1em;
}

section {
    display: flex;
    gap: 6em;
    justify-content: center;
}

.sectionlabel {
    color: white;
    margin: 1em 4em .5em;
    border-bottom: 5px ridge white;
}

article {
    background-color: white;
    border-radius: 25px;
    padding: .5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: .5em;
    border: 10px ridge gray;
}

.playerimg img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.teamlogo {
    max-width: 30px;
    aspect-ratio: 1;
    object-fit: contain;
}

.subhead {
    display: flex;
    align-items: center;
    gap: 5px;
}

.playerinfo {
    font-style: italic;
}

.statnum {
    font-size: 300%;
}

@media only screen and (max-width: 767px) {
    #pageheader {
        font-size: 130%;
    }

    .sectionlabel {
        color: white;
        margin: 1em 1em .5em;
        border-bottom: 5px ridge white;
        font-size: 110%;
    }

    section {
        flex-wrap: wrap;
        gap: 1em;
    }

    .playerimg img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    article {
        border: 5px ridge gray;
        width: 45%;
    }

    .statnum {
        font-size: 170%;
    }

    .playername {
        font-size: 100%;
    }
}